.newGame, .GuessForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newGame h1 {
    color: rgb(194, 65, 250);
}

.newGame button, .GuessForm button{
    padding: 10px;
    background-color: rgb(15, 102, 19);
    cursor: pointer;
    color:white;
}

.newGame .input-ctn, .GuessForm .input-ctn{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.input-ctn .wrapper{
    padding-right: 10px;
}

/* Error Message */
.errorMsg {
    color: red;
    text-align: center;
    font-size: clamp(15px, 5vw, 20px);

}

.resultsTable {
    font-size: clamp(14px, 100%, 25px);
    justify-content: space-around;
    display: flex;
}